In [24]:
import warnings
warnings.simplefilter('ignore')

# %matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [25]:

train_data = pd.read_csv('Resources/train.csv')
test_data = pd.read_csv('Resources/test.csv')
train_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [26]:
train_data_cleaned = pd.read_csv('AG_train-test.csv')
train_data_cleaned.head()

train_data_cleaned_v2 = pd.read_csv('AG_train-test_v2.csv')

test = train_data_cleaned_v2.drop('Survived', axis = 1)
train = train_data_cleaned_v2['Survived']

In [27]:
test.drop('Unnamed: 0', axis = 1, inplace=True)

In [28]:
test.head()

   Pclass  Sex   Age  SibSp  Parch  Fare  Embarked
0       3    0  22.0      1      0     0         0
1       1    1  38.0      1      0     0         1
2       3    1  26.0      0      0     0         0
3       1    1  35.0      1      0     0         0
4       3    0  35.0      0      0     0         0

In [29]:
train.head()

0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64

In [30]:
X_cleaned = train_data_cleaned[["Sex","Pclass","SibSp", "Age", "Fare", "Embarked"]]
y_cleaned = train_data_cleaned["Survived"].values.reshape(-1, 1)
target_names = ["Survived", "Not Survived"]
print(X_cleaned.shape, y_cleaned.shape)

(714, 6) (714, 1)

In [31]:
X_cleaned = pd.get_dummies(X_cleaned, columns=["Sex"])
X_cleaned.head()

   Pclass  SibSp   Age     Fare  Embarked  Sex_0  Sex_1
0       3      1  22.0   7.2500         0      1      0
1       1      1  38.0  71.2833         1      0      1
2       3      0  26.0   7.9250         0      0      1
3       1      1  35.0  53.1000         0      0      1
4       3      0  35.0   8.0500         0      1      0

In [32]:
# Create the bins in which Data will be held
# Bins are 0 to 25, 25 to 50, 50 to 75, 75 to 100
bins = [0, 100, 200, 300, 400, 550]

# Create the names for the four bins
fare_group_names = ['Vey Low',"Low", 'Okay', 'High', 'Highest']

X_cleaned["Fare"] = pd.cut(X_cleaned["Fare"], bins, labels=fare_group_names)
X_cleaned.head()

   Pclass  SibSp   Age     Fare  Embarked  Sex_0  Sex_1
0       3      1  22.0  Vey Low         0      1      0
1       1      1  38.0  Vey Low         1      0      1
2       3      0  26.0  Vey Low         0      0      1
3       1      1  35.0  Vey Low         0      0      1
4       3      0  35.0  Vey Low         0      1      0

In [33]:
X_cleaned = pd.get_dummies(X_cleaned, columns=["Fare"])
X_cleaned.head()

,Pclass,SibSp,Age,Embarked,Sex_0,Sex_1,Fare_Vey Low,Fare_Low,Fare_Okay,Fare_High,Fare_Highest
0,3,1,22.0,0,1,0,1,0,0,0,0
1,1,1,38.0,1,0,1,1,0,0,0,0
2,3,0,26.0,0,0,1,1,0,0,0,0
3,1,1,35.0,0,0,1,1,0,0,0,0
4,3,0,35.0,0,1,0,1,0,0,0,0

In [34]:
from sklearn.model_selection import train_test_split
#X_train, X_test, y_train, y_test = train_test_split(X_cleaned, y_cleaned, random_state=42)

#Ankita's Dataset Testing
X_train_2, X_test_2, y_train_2, y_test_2 = train_test_split(test, train, random_state=42)

In [35]:
# Support vector machine linear classifier
from sklearn.svm import SVC
model = SVC(kernel='linear')
model.fit(X_train_2, y_train_2)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto', kernel='linear',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [36]:
# Model Accuracy
print('Test Acc: %.3f' % model.score(X_test_2, y_test_2))

Test Acc: 0.791

In [37]:
data = []
newUser=[3,0,38.0,0,0,1,1,0,0,0,0]
data.append(newUser)

In [38]:
prediction = model.predict(X_test)
prediction

NameError: name 'X_test' is not defined

In [39]:
train_data = train_data.dropna(axis=0, how='any', thresh=None, subset=None, inplace=False)
test_data = test_data.dropna(axis=0, how='any', thresh=None, subset=None, inplace=False)
train_data.shape

(183, 12)

In [40]:
X = train_data[["Sex","Pclass","SibSp", "Age", "Fare"]]
y = train_data["Survived"].values.reshape(-1, 1)
target_names = ["Survived", "Not Survived"]
print(X.shape, y.shape)

(183, 5) (183, 1)

In [41]:
X = pd.get_dummies(X, columns=["Sex"])
X.head()

    Pclass  SibSp   Age     Fare  Sex_female  Sex_male
1        1      1  38.0  71.2833           1         0
3        1      1  35.0  53.1000           1         0
6        1      0  54.0  51.8625           0         1
10       3      1   4.0  16.7000           1         0
11       1      0  58.0  26.5500           1         0

In [42]:
# Create the bins in which Data will be held
# Bins are 0 to 25, 25 to 50, 50 to 75, 75 to 100
bins = [0, 100, 200, 300, 400, 550]

# Create the names for the four bins
fare_group_names = ['Vey Low',"Low", 'Okay', 'High', 'Highest']

In [43]:
X["Fare"] = pd.cut(X["Fare"], bins, labels=fare_group_names)
X.head()

    Pclass  SibSp   Age     Fare  Sex_female  Sex_male
1        1      1  38.0  Vey Low           1         0
3        1      1  35.0  Vey Low           1         0
6        1      0  54.0  Vey Low           0         1
10       3      1   4.0  Vey Low           1         0
11       1      0  58.0  Vey Low           1         0

In [44]:
X = pd.get_dummies(X, columns=["Fare"])
X.head()

,Pclass,SibSp,Age,Sex_female,Sex_male,Fare_Vey Low,Fare_Low,Fare_Okay,Fare_High,Fare_Highest
1,1,1,38.0,1,0,1,0,0,0,0
3,1,1,35.0,1,0,1,0,0,0,0
6,1,0,54.0,0,1,1,0,0,0,0
10,3,1,4.0,1,0,1,0,0,0,0
11,1,0,58.0,1,0,1,0,0,0,0

In [45]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [46]:
# Support vector machine linear classifier
from sklearn.svm import SVC
model = SVC(kernel='linear')
model.fit(X_train, y_train)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto', kernel='linear',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [47]:
# Model Accuracy
print('Test Acc: %.3f' % model.score(X_test, y_test))

Test Acc: 0.783

In [48]:
# Calculate classification report
from sklearn.metrics import classification_report
predictions = model.predict(X_test)
print(classification_report(y_test, predictions,
                            target_names=target_names))

              precision    recall  f1-score   support

    Survived       0.68      0.83      0.75        18
Not Survived       0.88      0.75      0.81        28

 avg / total       0.80      0.78      0.79        46

In [49]:
predictions

array([0, 1, 1, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1,
       0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0,
       0, 0], dtype=int64)

In [50]:
# Use train_test_split to create training and testing data
from sklearn.model_selection import train_test_split

# X_train, X_test, y_train, y_test = train_test_split(X_cleaned, y_cleaned, random_state=1)

X_train, X_test, y_train, y_test = train_test_split(test, train, random_state=1)

In [51]:
from sklearn.preprocessing import StandardScaler

# Create a StandardScater model and fit it to the training data
X_scaler = StandardScaler().fit(X_train)

In [52]:
# Transform the training and testing data using the X_scaler

X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [53]:
from keras.utils import to_categorical

# One-hot encoding
y_train_categorical = to_categorical(y_train)
y_test_categorical = to_categorical(y_test)

Using TensorFlow backend.

In [62]:
# first, create a normal neural network with 2 inputs, 6 hidden nodes, and 2 outputs
from keras.models import Sequential
from keras.layers import Dense

model = Sequential()
model.add(Dense(units=6, activation='relu', input_dim=7))
model.add(Dense(units=2, activation='softmax'))

In [63]:
model.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_5 (Dense)              (None, 6)                 48
_________________________________________________________________
dense_6 (Dense)              (None, 2)                 14
=================================================================
Total params: 62
Trainable params: 62
Non-trainable params: 0
_________________________________________________________________

In [64]:
# Compile the model
model.compile(optimizer='adam',
              loss='categorical_crossentropy',
              metrics=['accuracy'])

In [65]:
# Fit the model to the training data
model.fit(
    X_train_scaled,
    y_train_categorical,
    epochs=100,
    shuffle=True,
    verbose=2
)

Epoch 1/100
 - 2s - loss: 0.6550 - acc: 0.7170
Epoch 2/100
 - 0s - loss: 0.6310 - acc: 0.7245
Epoch 3/100
 - 0s - loss: 0.6134 - acc: 0.7226
Epoch 4/100
 - 0s - loss: 0.5960 - acc: 0.7321
Epoch 5/100
 - 0s - loss: 0.5822 - acc: 0.7321
Epoch 6/100
 - 0s - loss: 0.5707 - acc: 0.7321
Epoch 7/100
 - 0s - loss: 0.5597 - acc: 0.7340
Epoch 8/100
 - 0s - loss: 0.5502 - acc: 0.7321
Epoch 9/100
 - 0s - loss: 0.5407 - acc: 0.7340
Epoch 10/100
 - 0s - loss: 0.5324 - acc: 0.7396
Epoch 11/100
 - 0s - loss: 0.5246 - acc: 0.7491
Epoch 12/100
 - 0s - loss: 0.5173 - acc: 0.7509
Epoch 13/100
 - 0s - loss: 0.5110 - acc: 0.7642
Epoch 14/100
 - 0s - loss: 0.5053 - acc: 0.7623
Epoch 15/100
 - 0s - loss: 0.4993 - acc: 0.7623
Epoch 16/100
 - 0s - loss: 0.4941 - acc: 0.7642
Epoch 17/100
 - 0s - loss: 0.4890 - acc: 0.7698
Epoch 18/100
 - 0s - loss: 0.4845 - acc: 0.7717
Epoch 19/100
 - 0s - loss: 0.4802 - acc: 0.7717
Epoch 20/100
 - 0s - loss: 0.4760 - acc: 0.7717
Epoch 21/100
 - 0s - loss: 0.4722 - acc: 0.7774
Epoch 22/100
 - 0s - loss: 0.4689 - acc: 0.7774
Epoch 23/100
 - 0s - loss: 0.4658 - acc: 0.7774
Epoch 24/100
 - 0s - loss: 0.4624 - acc: 0.7792
Epoch 25/100
 - 0s - loss: 0.4595 - acc: 0.7811
Epoch 26/100
 - 0s - loss: 0.4570 - acc: 0.7811
Epoch 27/100
 - 0s - loss: 0.4548 - acc: 0.7774
Epoch 28/100
 - 0s - loss: 0.4522 - acc: 0.7830
Epoch 29/100
 - 0s - loss: 0.4502 - acc: 0.7811
Epoch 30/100
 - 0s - loss: 0.4484 - acc: 0.7849
Epoch 31/100
 - 0s - loss: 0.4470 - acc: 0.7849
Epoch 32/100
 - 0s - loss: 0.4452 - acc: 0.7849
Epoch 33/100
 - 0s - loss: 0.4440 - acc: 0.7868
Epoch 34/100
 - 0s - loss: 0.4425 - acc: 0.7887
Epoch 35/100
 - 0s - loss: 0.4414 - acc: 0.7868
Epoch 36/100
 - 0s - loss: 0.4402 - acc: 0.7868
Epoch 37/100
 - 0s - loss: 0.4390 - acc: 0.7925
Epoch 38/100
 - 0s - loss: 0.4380 - acc: 0.7962
Epoch 39/100
 - 0s - loss: 0.4370 - acc: 0.8000
Epoch 40/100
 - 0s - loss: 0.4363 - acc: 0.8000
Epoch 41/100
 - 0s - loss: 0.4355 - acc: 0.8000
Epoch 42/100
 - 0s - loss: 0.4349 - acc: 0.8019
Epoch 43/100
 - 0s - loss: 0.4341 - acc: 0.7962
Epoch 44/100
 - 0s - loss: 0.4343 - acc: 0.7981
Epoch 45/100
 - 0s - loss: 0.4330 - acc: 0.8019
Epoch 46/100
 - 0s - loss: 0.4323 - acc: 0.8038
Epoch 47/100
 - 0s - loss: 0.4319 - acc: 0.8000
Epoch 48/100
 - 0s - loss: 0.4312 - acc: 0.8019
Epoch 49/100
 - 0s - loss: 0.4312 - acc: 0.7981
Epoch 50/100
 - 0s - loss: 0.4304 - acc: 0.8000
Epoch 51/100
 - 0s - loss: 0.4299 - acc: 0.7981
Epoch 52/100
 - 0s - loss: 0.4294 - acc: 0.7981
Epoch 53/100
 - 0s - loss: 0.4290 - acc: 0.8000
Epoch 54/100
 - 0s - loss: 0.4285 - acc: 0.8019
Epoch 55/100
 - 0s - loss: 0.4282 - acc: 0.8019
Epoch 56/100
 - 0s - loss: 0.4281 - acc: 0.8019
Epoch 57/100
 - 0s - loss: 0.4275 - acc: 0.8019
Epoch 58/100
 - 0s - loss: 0.4272 - acc: 0.8019
Epoch 59/100
 - 0s - loss: 0.4268 - acc: 0.8019
Epoch 60/100
 - 0s - loss: 0.4265 - acc: 0.8057
Epoch 61/100
 - 0s - loss: 0.4264 - acc: 0.8038
Epoch 62/100
 - 0s - loss: 0.4261 - acc: 0.8019
Epoch 63/100
 - 0s - loss: 0.4256 - acc: 0.8057
Epoch 64/100
 - 0s - loss: 0.4255 - acc: 0.8038
Epoch 65/100
 - 0s - loss: 0.4252 - acc: 0.8057
Epoch 66/100
 - 0s - loss: 0.4251 - acc: 0.8057
Epoch 67/100
 - 0s - loss: 0.4249 - acc: 0.8057
Epoch 68/100
 - 0s - loss: 0.4243 - acc: 0.8057
Epoch 69/100
 - 0s - loss: 0.4239 - acc: 0.8075
Epoch 70/100
 - 0s - loss: 0.4239 - acc: 0.8075
Epoch 71/100
 - 0s - loss: 0.4236 - acc: 0.8075
Epoch 72/100
 - 0s - loss: 0.4233 - acc: 0.8094
Epoch 73/100
 - 0s - loss: 0.4230 - acc: 0.8094
Epoch 74/100
 - 0s - loss: 0.4229 - acc: 0.8075
Epoch 75/100
 - 0s - loss: 0.4225 - acc: 0.8113
Epoch 76/100
 - 0s - loss: 0.4223 - acc: 0.8094
Epoch 77/100
 - 0s - loss: 0.4223 - acc: 0.8057
Epoch 78/100
 - 0s - loss: 0.4219 - acc: 0.8038
Epoch 79/100
 - 0s - loss: 0.4217 - acc: 0.8075
Epoch 80/100
 - 0s - loss: 0.4217 - acc: 0.8075
Epoch 81/100
 - 0s - loss: 0.4213 - acc: 0.8075
Epoch 82/100
 - 0s - loss: 0.4212 - acc: 0.8057
Epoch 83/100
 - 0s - loss: 0.4210 - acc: 0.8038
Epoch 84/100
 - 0s - loss: 0.4210 - acc: 0.8057
Epoch 85/100
 - 0s - loss: 0.4209 - acc: 0.8075
Epoch 86/100
 - 0s - loss: 0.4205 - acc: 0.8094
Epoch 87/100
 - 0s - loss: 0.4205 - acc: 0.8075
Epoch 88/100
 - 0s - loss: 0.4202 - acc: 0.8075
Epoch 89/100
 - 0s - loss: 0.4202 - acc: 0.8075
Epoch 90/100
 - 0s - loss: 0.4201 - acc: 0.8094
Epoch 91/100
 - 0s - loss: 0.4200 - acc: 0.8094
Epoch 92/100
 - 0s - loss: 0.4199 - acc: 0.8057
Epoch 93/100
 - 0s - loss: 0.4196 - acc: 0.8075
Epoch 94/100
 - 0s - loss: 0.4195 - acc: 0.8094
Epoch 95/100
 - 0s - loss: 0.4194 - acc: 0.8113
Epoch 96/100
 - 0s - loss: 0.4193 - acc: 0.8094
Epoch 97/100
 - 0s - loss: 0.4192 - acc: 0.8094
Epoch 98/100
 - 0s - loss: 0.4191 - acc: 0.8075
Epoch 99/100
 - 0s - loss: 0.4189 - acc: 0.8075
Epoch 100/100
 - 0s - loss: 0.4190 - acc: 0.8113

In [69]:
deep_model = Sequential()
deep_model.add(Dense(units=6, activation='relu', input_dim=7))
deep_model.add(Dense(units=6, activation='relu'))
deep_model.add(Dense(units=6, activation='relu'))

deep_model.add(Dense(units=2, activation='softmax'))

In [70]:
deep_model.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_11 (Dense)             (None, 6)                 48
_________________________________________________________________
dense_12 (Dense)             (None, 6)                 42
_________________________________________________________________
dense_13 (Dense)             (None, 6)                 42
_________________________________________________________________
dense_14 (Dense)             (None, 2)                 14
=================================================================
Total params: 146
Trainable params: 146
Non-trainable params: 0
_________________________________________________________________

In [71]:
deep_model.compile(optimizer='adam',
                   loss='categorical_crossentropy',
                   metrics=['accuracy'])

deep_model.fit(
    X_train_scaled,
    y_train_categorical,
    epochs=100,
    shuffle=True,
    verbose=2
)

Epoch 1/100
 - 1s - loss: 0.7386 - acc: 0.5057
Epoch 2/100
 - 0s - loss: 0.7110 - acc: 0.5358
Epoch 3/100
 - 0s - loss: 0.6934 - acc: 0.5547
Epoch 4/100
 - 0s - loss: 0.6791 - acc: 0.5868
Epoch 5/100
 - 0s - loss: 0.6664 - acc: 0.5943
Epoch 6/100
 - 0s - loss: 0.6555 - acc: 0.5981
Epoch 7/100
 - 0s - loss: 0.6455 - acc: 0.6132
Epoch 8/100
 - 0s - loss: 0.6359 - acc: 0.6453
Epoch 9/100
 - 0s - loss: 0.6265 - acc: 0.6642
Epoch 10/100
 - 0s - loss: 0.6172 - acc: 0.6887
Epoch 11/100
 - 0s - loss: 0.6075 - acc: 0.7038
Epoch 12/100
 - 0s - loss: 0.5966 - acc: 0.7208
Epoch 13/100
 - 0s - loss: 0.5866 - acc: 0.7302
Epoch 14/100
 - 0s - loss: 0.5739 - acc: 0.7434
Epoch 15/100
 - 0s - loss: 0.5623 - acc: 0.7472
Epoch 16/100
 - 0s - loss: 0.5503 - acc: 0.7604
Epoch 17/100
 - 0s - loss: 0.5385 - acc: 0.7604
Epoch 18/100
 - 0s - loss: 0.5280 - acc: 0.7566
Epoch 19/100
 - 0s - loss: 0.5180 - acc: 0.7547
Epoch 20/100
 - 0s - loss: 0.5089 - acc: 0.7528
Epoch 21/100
 - 0s - loss: 0.5028 - acc: 0.7547
Epoch 22/100
 - 0s - loss: 0.4943 - acc: 0.7566
Epoch 23/100
 - 0s - loss: 0.4875 - acc: 0.7755
Epoch 24/100
 - 0s - loss: 0.4823 - acc: 0.7774
Epoch 25/100
 - 0s - loss: 0.4775 - acc: 0.7849
Epoch 26/100
 - 0s - loss: 0.4734 - acc: 0.7925
Epoch 27/100
 - 0s - loss: 0.4693 - acc: 0.7981
Epoch 28/100
 - 0s - loss: 0.4665 - acc: 0.7962
Epoch 29/100
 - 0s - loss: 0.4637 - acc: 0.7943
Epoch 30/100
 - 0s - loss: 0.4605 - acc: 0.7981
Epoch 31/100
 - 0s - loss: 0.4583 - acc: 0.8019
Epoch 32/100
 - 0s - loss: 0.4562 - acc: 0.8019
Epoch 33/100
 - 0s - loss: 0.4534 - acc: 0.8094
Epoch 34/100
 - 0s - loss: 0.4522 - acc: 0.8113
Epoch 35/100
 - 0s - loss: 0.4505 - acc: 0.8113
Epoch 36/100
 - 0s - loss: 0.4484 - acc: 0.8113
Epoch 37/100
 - 0s - loss: 0.4468 - acc: 0.8113
Epoch 38/100
 - 0s - loss: 0.4452 - acc: 0.8132
Epoch 39/100
 - 0s - loss: 0.4442 - acc: 0.8170
Epoch 40/100
 - 0s - loss: 0.4423 - acc: 0.8170
Epoch 41/100
 - 0s - loss: 0.4417 - acc: 0.8132
Epoch 42/100
 - 0s - loss: 0.4398 - acc: 0.8132
Epoch 43/100
 - 0s - loss: 0.4395 - acc: 0.8151
Epoch 44/100
 - 0s - loss: 0.4376 - acc: 0.8170
Epoch 45/100
 - 0s - loss: 0.4364 - acc: 0.8151
Epoch 46/100
 - 0s - loss: 0.4361 - acc: 0.8170
Epoch 47/100
 - 0s - loss: 0.4355 - acc: 0.8132
Epoch 48/100
 - 0s - loss: 0.4348 - acc: 0.8170
Epoch 49/100
 - 0s - loss: 0.4340 - acc: 0.8170
Epoch 50/100
 - 0s - loss: 0.4337 - acc: 0.8170
Epoch 51/100
 - 0s - loss: 0.4322 - acc: 0.8189
Epoch 52/100
 - 0s - loss: 0.4318 - acc: 0.8170
Epoch 53/100
 - 0s - loss: 0.4320 - acc: 0.8170
Epoch 54/100
 - 0s - loss: 0.4313 - acc: 0.8151
Epoch 55/100
 - 0s - loss: 0.4307 - acc: 0.8170
Epoch 56/100
 - 0s - loss: 0.4300 - acc: 0.8189
Epoch 57/100
 - 0s - loss: 0.4293 - acc: 0.8208
Epoch 58/100
 - 0s - loss: 0.4291 - acc: 0.8189
Epoch 59/100
 - 0s - loss: 0.4282 - acc: 0.8189
Epoch 60/100
 - 0s - loss: 0.4276 - acc: 0.8170
Epoch 61/100
 - 0s - loss: 0.4278 - acc: 0.8226
Epoch 62/100
 - 0s - loss: 0.4265 - acc: 0.8208
Epoch 63/100
 - 0s - loss: 0.4256 - acc: 0.8189
Epoch 64/100
 - 0s - loss: 0.4248 - acc: 0.8170
Epoch 65/100
 - 0s - loss: 0.4248 - acc: 0.8208
Epoch 66/100
 - 0s - loss: 0.4239 - acc: 0.8245
Epoch 67/100
 - 0s - loss: 0.4231 - acc: 0.8226
Epoch 68/100
 - 0s - loss: 0.4235 - acc: 0.8208
Epoch 69/100
 - 0s - loss: 0.4231 - acc: 0.8189
Epoch 70/100
 - 0s - loss: 0.4220 - acc: 0.8208
Epoch 71/100
 - 0s - loss: 0.4211 - acc: 0.8245
Epoch 72/100
 - 0s - loss: 0.4217 - acc: 0.8245
Epoch 73/100
 - 0s - loss: 0.4212 - acc: 0.8226
Epoch 74/100
 - 0s - loss: 0.4198 - acc: 0.8264
Epoch 75/100
 - 0s - loss: 0.4196 - acc: 0.8283
Epoch 76/100
 - 0s - loss: 0.4189 - acc: 0.8283
Epoch 77/100
 - 0s - loss: 0.4186 - acc: 0.8208
Epoch 78/100
 - 0s - loss: 0.4182 - acc: 0.8226
Epoch 79/100
 - 0s - loss: 0.4181 - acc: 0.8264
Epoch 80/100
 - 0s - loss: 0.4170 - acc: 0.8283
Epoch 81/100
 - 0s - loss: 0.4179 - acc: 0.8264
Epoch 82/100
 - 0s - loss: 0.4169 - acc: 0.8226
Epoch 83/100
 - 0s - loss: 0.4164 - acc: 0.8245
Epoch 84/100
 - 0s - loss: 0.4152 - acc: 0.8283
Epoch 85/100
 - 0s - loss: 0.4153 - acc: 0.8264
Epoch 86/100
 - 0s - loss: 0.4157 - acc: 0.8283
Epoch 87/100
 - 0s - loss: 0.4147 - acc: 0.8264
Epoch 88/100
 - 0s - loss: 0.4141 - acc: 0.8283
Epoch 89/100
 - 0s - loss: 0.4147 - acc: 0.8264
Epoch 90/100
 - 0s - loss: 0.4136 - acc: 0.8264
Epoch 91/100
 - 0s - loss: 0.4136 - acc: 0.8283
Epoch 92/100
 - 0s - loss: 0.4126 - acc: 0.8283
Epoch 93/100
 - 0s - loss: 0.4122 - acc: 0.8264
Epoch 94/100
 - 0s - loss: 0.4123 - acc: 0.8321
Epoch 95/100
 - 0s - loss: 0.4122 - acc: 0.8321
Epoch 96/100
 - 0s - loss: 0.4115 - acc: 0.8321
Epoch 97/100
 - 0s - loss: 0.4120 - acc: 0.8321
Epoch 98/100
 - 0s - loss: 0.4111 - acc: 0.8321
Epoch 99/100
 - 0s - loss: 0.4109 - acc: 0.8358
Epoch 100/100
 - 0s - loss: 0.4107 - acc: 0.8302

In [72]:
model_loss, model_accuracy = model.evaluate(
    X_test_scaled, y_test_categorical, verbose=2)
print(
    f"Normal Neural Network - Loss: {model_loss}, Accuracy: {model_accuracy}")

Normal Neural Network - Loss: 0.4146130083307708, Accuracy: 0.8248587573988962

In [73]:
model_loss, model_accuracy = deep_model.evaluate(
    X_test_scaled, y_test_categorical, verbose=2)
print(f"Deep Neural Network - Loss: {model_loss}, Accuracy: {model_accuracy}")

Deep Neural Network - Loss: 0.44349087917872065, Accuracy: 0.8022598876791486